services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8080:8080"
    env_file:
      - ../.env
    environment:
      - SERVER_PORT=8080
    networks:
      - spring-network



networks:
  spring-network:
    driver: bridge
